
ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	color: white;
	background-color: #111;
}

label{
	display:block;
}


ul.communities{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li.community{
	float: none;
}

a.community:hover{
	color: black;
}


.bgimage {
	background-image: url('something.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	padding: 30px 30px 30px 30px;
}

.blurcontent {
	position: relative;
	padding: 20px;
	background: rgb(34,34,34); /* for IE */
	background: rgba(34,34,34,0.75);
	color:white;
	width:72%;
}

.blurbg {
	/* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 99;

	/* Pull the background 70px higher to the same place as #bg's */
	background-position: center -70px;

	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.follow_community_btn{
	position:absolute;
	top: 5px;
	right: 5px;
}

.button.red {
	color: #f34248;
	border-color: #f34248;
}

.button.red:hover {
	color: #fff;
	border-color: #fff;
	background-color: #f34248;
}

