<head>

	<title>GoBBit - Reddit's like Forum software written in Golang</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- CSS -->
	<link rel="stylesheet" href="/css/vendor/kube.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/gobbit.css">

	<!-- JS Libs -->
	<script src="/js/vendor/jquery.js"></script>
	<script src="/js/vendor/kube.min.js"></script>
	<script src="/js/vendor/moment.js"></script>
	<script src="/js/vendor/angular.min.js"></script>
	<script src="/js/vendor/markdown.min.js"></script>

</head>

<body ng-app="GoBBit">

	<div ng-controller="App" ng-init="user={};topics=[];communities=[];community=null;">

		<div id="navbar" class="sticky">
			<nav id="navbar-main" class="row menu">
				<ul class="col col-10" style="display: block;list-style-type: none;">
					<li><a ng-click="getHomeTopics(0)" href="#!">{{ translation.home }}</a></li>
					<li><a ng-click="getRecentTopics(0)" href="#!">{{ translation.recent }}</a></li>
				</ul>

				<ul class="col col-2" style="display: block;list-style-type: none;">
					<!-- Log out and user info -->
					<li ng-if="user.username" ng-click="editUser()"><a href="#!">{{ user.username }}</a></li>
					<li ng-if="user.username"><a href="/logout">{{ translation.logout }}</a></li>
				</ul>
			</nav>
		</div>

		<center>
			<div style="width:80%;">
				<h3>Welcome to GoBBit</h3>
				<i>Reddit's like Forum software written in Golang</i>

				<!-- Login / registration form -->
				<div class="row around" ng-if="!user.username" style="padding:10px">
					<div ng-controller="login" class="col col-6">
						<div class="form-item">
							<label>{{ translation.username }}</label>
							<input type="text" name="username" ng-model="username" class="width-50">
						</div>
						<div class="form-item">
							<label>{{ translation.password }}</label>
							<input type="password" name="password" ng-model="password" class="width-50">
						</div>

						<br>
						<button ng-click="login()" class="button primary width-35">{{ translation.login }}</button>
					</div>

					<div ng-controller="register" class="col col-6">
						<div class="form-item">
							<label>{{ translation.username }}</label>
							<input type="text" name="username" ng-model="username" class="width-50">
						</div>
						<div class="form-item">
							<label>{{ translation.email }}</label>
							<input type="email" name="email" ng-model="email" class="width-50">
						</div>
						<div class="form-item">
							<label>{{ translation.password }}</label>
							<input type="password" name="password" ng-model="password" class="width-50">
						</div>
						<div class="form-item">
							<label>{{ translation.repeat_password }}</label>
							<input type="password" name="rpassword" ng-model="rpassword" class="width-50">
						</div>

						<br>
						<button ng-click="register()" class="button primary width-35">{{ translation.register }}</button>
					</div>
				</div>

			</div>
		</center>

		<!-- Communities Dropdown and New topic button -->
		<div style="left: 10%;position: relative;margin:5px">
			<button data-component="dropdown" data-target="#communities-dropdown">Communities<span class="caret down"></span></button>

			<button ng-click="openTopicComposer()" ng-disabled="!user.username" class="button primary">{{ translation.new_topic }}</button>

			<button ng-click="openCommunityCreator()" ng-if="user.username && user.isadmin" class="button primary">{{ translation.new_community }}</button>
		</div>
		<div class="dropdown" id="communities-dropdown">
			<center>
				
				<ul class="communities">
					<li ng-click="setCommunity($index)" style="float:none;" ng-repeat="c in communities"><a class="community" href="#!">{{ c.name }}</a></li>
				</ul>

				<a href="#!" data-action="dropdown-close">Close</a>
			</center>
		</div>

		<!-- Commnity info (if selected) -->
		<center ng-if="community" class="width-80 bgimage" style="background-image:url({{ community.picture }});">
			<div class="blurcontent">
				<h2 style="color:white">{{ community.name }}</h2>
				<i>{{ community.description }}</i>
				<br>
				<i><b>{{ translation.created }}</b>: {{ formatDateComplete(community.creation_date) }}</i>

				<div class="row centered">
					<div class="col-1">
						<i class="fa fa-pencil" aria-hidden="true"></i>
						{{ community.posts_number }}
					</div>
					<div class="col-1">
						<i class="fa fa-comments" aria-hidden="true"></i>
						{{ community.topics_number }}
					</div>
					<div class="col-1">
						<i class="fa fa-user-md" aria-hidden="true"></i>
						{{ community.mods.length }}
					</div>
				</div>

				<div class="follow_community_btn">
					<button ng-if="user.followed_communities.indexOf(community.slug) < 0" class="button inverted outline" ng-click="followCommunity(community.slug)">
						{{ translation.follow }}
					</button>
					<button ng-if="user.followed_communities.indexOf(community.slug) >= 0" class="button red outline" ng-click="unfollowCommunity(community.slug)">
						{{ translation.unfollow }}
					</button>

					<button ng-if="user.isadmin || community.mods.indexOf(user.id) >= 0" class="button" ng-click="editCommunity(community)">
						<i class="fa fa-cogs" aria-hidden="true"></i>
					</button>
				</div>

			</div>
		</center>

		<!-- Topics table -->
		<center>
			<table class="striped" style="width:80%">
				<thead>
			        <tr>
			            <th class="width-50">{{ translation.title }}</th>
			            <th class="width-25">{{ translation.community }}</th>
			            <th class="width-20">{{ translation.last_update }}</th>
			            <th class="width-5"></th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="t in topics">
			            <td class="width-50">
			            	<b><a href="#!" ng-click="loadTopic(t.id)">{{ t.title }}</a></b>
			            	<br>
			            	<a href="#!" ng-click="loadUser(t.user.slug)" style="color:black;font-size:12px">{{ t.user.username }}</a>
			            </td>
			            <td class="width-30">
			            	<a href="#!" ng-click="setCommunityBySlug(t.community)">
			            		{{ t.community }}
			            	</a>
			            </td>
			            <td class="width-20">{{ formatDate(t.last_update) }}</td>
			            <!-- Actions column -->
			            <td>
			            	<span style="padding:10px">
			            		{{ t.posts_number }}
			            		<i class="fa fa-pencil" aria-hidden="true"></i>
			            	</span>

			            	<span style="padding:10px">
			            		<a ng-if="user.isadmin || (user.id == t.uid) || isMod(user.id, t.community)" ng-click="deleteTopic(t.id)" href="#!"><i class="fa fa-trash" aria-hidden="true"></i></a>
			            	</span>
			            </td>
			        </tr>
			    </tbody>
			</table>

			<a href="#!" ng-click="loadMoreTopics()">{{ translation.load_more }}</a>
		</center>




		<!-- Topic content (messages..) -->
		<center id="topicModal" class="topicmodal hide" ng-controller="topic" ng-init="topic={};tid='';posts=[];page=0;pages=0;">
			<a class="closemodal" ng-click="closeModal()" href="#!">{{ translation.close }}</a>
			<div class="width-80">
				<nav class="pagination centered">
				    <ul>
				        <li class="prev"><a href="#!" ng-click="prevPage()">&larr;</a></li>
				        <li>
				            <ul>
				                <li ng-repeat="i in rangeSimple(1, pages, 1)"><a href="#!" ng-click="getTopicPostsByPage(i-1)">{{ i }}</a></li>
				            </ul>
				        </li>
				        <li class="next"><a href="#!" ng-click="nextPage()">&rarr;</a></li>
				    </ul>
				</nav>

				<h2>{{ topic.title }}</h2>
				<div align="left" class="row post">
					<div class="col col-2">
						<img class="avatar" ng-src="{{ topic.user.picture }}">
						<br>
						<a ng-click="loadUser(topic.user.slug)" href="#!">{{ topic.user.username }}</a>
					</div>
					<div class="col col-10" style="backgroun-color:#f4f4f4;">
						<div ng-bind-html="parsePost(topic.content)">
						</div>

						<div align="right" style="color:grey">
							<i>{{ formatDate(topic.creation_date) }}</i>

						</div>
					</div>
					<hr>
				</div>

				<!-- topic posts -->
				<div align="left">
					<div class="row post" ng-repeat="p in posts">
						<div class="col col-2">
							<img class="avatar" ng-src="{{ p.user.picture }}">
							<br>
							<a ng-click="loadUser(p.user.slug)" href="#!">{{ p.user.username }}</a>
						</div>
						<div class="col col-10">
							<div align="right">
								<!-- Post Actions -->
								<a ng-if="user.isadmin || (user.id == p.uid) || isMod(user.id, t.community)" class="action-link" href="#!"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								<a ng-if="user.isadmin || (user.id == p.uid) || isMod(user.id, t.community)" ng-click="deletePost(p.id)" class="action-link" href="#!"><i class="fa fa-trash" aria-hidden="true"></i></a>
							</div>

							<div ng-bind-html="parsePost(p.content)">
							</div>


							<div align="right" style="color:grey">
								<i>{{ formatDate(p.creation_date) }}</i>
							</div>
						</div>
					</div>
					<hr>
				</div>

				<nav class="pagination centered">
				    <ul>
				        <li class="prev"><a href="#!" ng-click="prevPage()">&larr;</a></li>
				        <li>
				            <ul>
				                <li ng-repeat="i in rangeSimple(1, pages, 1)"><a href="#!" ng-click="getTopicPostsByPage(i-1)">{{ i }}</a></li>
				            </ul>
				        </li>
				        <li class="next"><a href="#!" ng-click="nextPage()">&rarr;</a></li>
				    </ul>
				</nav>

				<!-- post reply -->
				<div class="row centered">
					<div class="col col-5 composer-textarea" style="height:200px;">
						<h4>{{ translation.reply }}</h4>
						<textarea ng-change="updatePreview(replyTxt)" ng-model="replyTxt" style="height:200px;max-height:200px;"></textarea>

						<br>
						<button ng-click="sendReply()" ng-disabled="!user.username" class="button primary">{{ translation.reply }}</button>
					</div>

					<div class="col col-5">
						<h4>{{ translation.preview }}</h4>
						<div ng-bind-html="contentPreview" style="max-height:200px;height:200px;overflow:auto;">
						</div>
					</div>
				</div>

			</div>
		</center>


		<!-- Topic composer -->
		<center id="topicComposerModal" class="topicmodal hide" ng-controller="topic-composer" ng-init="title='';selectedCommunity=null;">
			<a class="closemodal" ng-click="closeModal()" href="#!">{{ translation.close }}</a>
			<div class="width-80">
				<!-- Communities Dropdown -->
				<div align="left" style="margin:5px">
					<button data-component="dropdown" data-target="#composer-communities-dropdown">{{ selectedCommunity || translation.select_community }}<span class="caret down"></span></button>

					<!-- Title -->
					<input type="text" class="width-50" placeholder="{{ translation.title }}" ng-model="titleTxt"/>
				</div>
				<div class="dropdown" id="composer-communities-dropdown">
					<center>
						
						<ul class="communities">
							<li ng-click="setCommunity(c.slug)" style="float:none;" ng-repeat="c in communities"><a class="community" href="#!">{{ c.name }}</a></li>
						</ul>

						<a href="#!" data-action="dropdown-close">Close</a>
					</center>
				</div>

				<!-- content composer -->
				<div class="row centered">
					<div class="col col-5 composer-textarea" style="height:80%;">
						<h4>{{ translation.content }}</h4>
						<textarea ng-change="updatePreview(contentTxt)" ng-model="contentTxt" style="height:80%;max-height:80%;"></textarea>

						<br>
						<button ng-click="sendTopic()" ng-disabled="!user.username" class="button primary">{{ translation.send }}</button>
					</div>

					<div class="col col-5" style="height:80%;">
						<h4>{{ translation.preview }}</h4>
						<div ng-bind-html="contentPreview" style="height:80%;max-height:80%;overflow:auto;">
						</div>
					</div>
				</div>

			</div>
		</center>


		<!-- Community Creator Modal -->
		<center id="communityCreatorModal" class="topicmodal hide" ng-controller="community-creator" ng-init="name='';">
			<a class="closemodal" ng-click="closeModal()" href="#!">{{ translation.close }}</a>
			<div class="width-80">
				<!-- Communities Dropdown -->
				<div align="left" style="margin:5px">
					<!-- Name -->
					<input type="text" class="width-50" placeholder="{{ translation.title }}" ng-model="nameTxt"/>
					<br>
					<input type="text" class="width-50" placeholder="{{ translation.picture }}" ng-model="pictureTxt"/>
				</div>

				<!-- content composer -->
				<div class="row centered">
					<div class="col col-5" style="height:200px;">
						<h4>{{ translation.description }}</h4>
						<textarea ng-model="descriptionTxt" style="height:200px;max-height:200px;"></textarea>

						<br>
						<button ng-click="sendCommunity()" ng-disabled="!user.username || !user.isadmin" class="button primary">{{ translation.send }}</button>
					</div>

					<div class="col col-5">
						
					</div>
				</div>

			</div>
		</center>

		<!-- Community Editor Modal -->
		<center id="communityEditorModal" class="topicmodal hide" ng-controller="community-editor" ng-init="name='';">
			<a class="closemodal" ng-click="closeModal()" href="#!">{{ translation.close }}</a>
			<div class="width-80">
				<!-- Communities Dropdown -->
				<div align="left" style="margin:5px">
					<!-- Name -->
					<input type="text" class="width-50" placeholder="{{ translation.title }}" ng-model="nameTxt"/>
					<br>
					<input type="text" class="width-50" placeholder="{{ translation.picture }}" ng-model="pictureTxt"/>
				</div>

				<!-- content composer -->
				<div class="row centered">
					<div class="col col-5 composer-textarea" style="height:200px;">
						<h4>{{ translation.description }}</h4>
						<textarea ng-model="descriptionTxt" style="height:200px;max-height:200px;"></textarea>

						<br>
						<button ng-click="sendCommunity()" class="button primary">{{ translation.send }}</button>
					</div>

					<div class="col col-5">
					</div>
				</div>

				<div class="row centered">
					<!-- mods list -->
					<div class="col col-5">
						<fieldset>
							<legend>{{ translation.mods }}</legend>
							<input type="text" placeholder="{{ translation.add_mod }}" ng-model="newModTxt"/>
							<button ng-click="addModToCommunity(selectedCommunity.slug, newModTxt)" class="button primary">{{ translation.send }}</button>
							<table class="striped" style="width:80%">
							    <tbody>
							        <tr ng-repeat="u in mods">
							            <td style="width:50%;">
							            	<img class="avatar small" ng-src="{{ u.picture }}">
							            </td>
							            <td>
							            	<b>
							            		<a href="#!" ng-click="loadUser(u.slug)">{{ u.username }}</a>
							            	</b>
							            </td>
							            <td>
							            	<a href="#!" ng-click="deleteModToCommunity(selectedCommunity.slug, u.slug)"><i class="fa fa-trash" aria-hidden="true"></i></a>
							            </td>
							        </tr>
							    </tbody>
							</table>
						</fieldset>
					</div>

					<!-- banned users list -->
					<div class="col col-5">
						<fieldset>
							<legend>{{ translation.banned_users }}</legend>
							<input type="text" placeholder="{{ translation.ban_user }}" ng-model="newBanTxt"/>
							<button ng-click="banUserFromCommunity(selectedCommunity.slug, newBanTxt)" class="button primary">{{ translation.send }}</button>
							<table class="striped" style="width:80%">
							    <tbody>
							        <tr ng-repeat="u in bans">
							            <td style="width:50%;">
							            	<img class="avatar small" ng-src="{{ u.picture }}">
							            </td>
							            <td>
							            	<b>
							            		<a href="#!" ng-click="loadUser(u.slug)">{{ u.username }}</a>
							            	</b>
							            </td>
							            <td>
							            	<a href="#!" ng-click="unbanUserFromCommunity(selectedCommunity.slug, u.slug)"><i class="fa fa-trash" aria-hidden="true"></i></a>
							            </td>
							        </tr>
							    </tbody>
							</table>
						</fieldset>
					</div>
				</div>

			</div>
		</center>


		<!-- User Profile Modal -->
		<center id="userProfileModal" class="topicmodal hide" ng-controller="user-profile" ng-init="slug='';userprofile='';">
			<a class="closemodal" ng-click="closeModal()" href="#!">{{ translation.close }}</a>
			<div class="width-80">

				<img class="profile-avatar" ng-src="{{ userprofile.picture }}">
				<h1>{{ userprofile.username }}</h1>

				<span ng-if="userprofile.isadmin" class="label primary outline"><a href="#">{{ translation.admin }}</a></span>

				<p><b>{{ translation.registered }}</b>: {{ formatDateComplete(userprofile.creation_date) }}</p>

				<!-- action buttons -->
				<div style="padding-bottom: 20px;">
					<button ng-if="user.ignored_users.indexOf(userprofile.id) < 0" class="button red outline" ng-click="ignoreUser(userprofile.id)">
						{{ translation.ignore }}
					</button>
					<button ng-if="user.ignored_users.indexOf(userprofile.id) >= 0" class="button red" ng-click="unIgnoreUser(userprofile.id)">
						{{ translation.unignore }}
					</button>
					<button ng-if="user.isadmin && !userprofile.isbanned" class="button primary outline" ng-click="banUser(userprofile.id)">{{ translation.ban }}</button>
					<button ng-if="user.isadmin && userprofile.isbanned" class="button primary" ng-click="unBanUser(userprofile.id)">{{ translation.unban }}</button>

					<button ng-if="user.isadmin || (userprofile.id == user.id)" class="button outline" ng-click="editUser(userprofile.slug)">{{ translation.edit }}</button>
				</div>

				<div class="row centered">
					<div class="col-1">
						<i class="fa fa-pencil" aria-hidden="true"></i>
						{{ userprofile.posts_number }}
					</div>
					<div class="col-1">
						<i class="fa fa-comments" aria-hidden="true"></i>
						{{ userprofile.topics_number }}
					</div>
				</div>

				<br>
				<h3>{{ translation.latest_topics }}</h3>
				<!-- Topics table -->
				<center>
					<table class="striped" style="width:80%">
						<thead>
					        <tr>
					            <th class="width-50">{{ translation.title }}</th>
					            <th class="width-25">{{ translation.community }}</th>
					            <th class="width-20">{{ translation.last_update }}</th>
					            <th class="width-5"></th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr ng-repeat="t in usertopics">
					            <td class="width-50">
					            	<b><a href="#!" ng-click="closeModal();loadTopic(t.id)">{{ t.title }}</a></b>
					            </td>
					            <td class="width-30">
					            	<a href="#!" ng-click="setCommunityBySlug(t.community)">
					            		{{ t.community }}
					            	</a>
					            </td>
					            <td class="width-20">{{ formatDate(t.last_update) }}</td>
					            <!-- Actions column -->
					            <td>
					            	<span style="padding:10px">
					            		{{ t.posts_number }}
					            		<i class="fa fa-pencil" aria-hidden="true"></i>
					            	</span>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</center>

			</div>
		</center>



		<!-- User Edit Modal -->
		<center id="userEditModal" class="topicmodal hide" ng-controller="user-edit" ng-init="slug='';userprofile='';uu={}">
			<a class="closemodal" ng-click="closeModal()" href="#!">{{ translation.close }}</a>
			<div class="width-80">

				<img class="profile-avatar" ng-src="{{ picture }}">
				
				<h1>{{ userprofile.username }}</h1>

				<p><b>{{ translation.registered }}</b>: {{ formatDateComplete(userprofile.creation_date) }}</p>

				<fieldset style="width:50%;">
					<legend>{{ translation.user_data }}</legend>
					<div class="form-item">
						<label>{{ translation.profile_picture }}</label>
						<input type="text" style="width:90%;" ng-model="picture" placeholder="{{ translation.profile_picture }}">
					</div>

					<div class="form-item">
						<label>{{ translation.email }}</label>
						<input type="text" style="width:90%;" ng-model="email" placeholder="{{ translation.email }}">
					</div>

					<div ng-if="user.isadmin" class="form-item">
						<label><input type="checkbox" ng-model="uu.isadmin"> {{ translation.admin }}</label>
					</div>

					<br>
					<button class="button primary" ng-click="updateUser()">
						{{ translation.update }}
					</button>
				</fieldset>

				<fieldset style="width:50%;">
					<legend>{{ translation.change_password }}</legend>
					<div class="form-item">
						<label>{{ translation.old_password }}</label>
						<input type="password" style="width:90%;" ng-model="oldpassword" placeholder="{{ translation.old_password }}">
					</div>

					<div class="form-item">
						<label>{{ translation.new_password }}</label>
						<input type="password" style="width:90%;" ng-model="password" placeholder="{{ translation.new_password }}">
					</div>

					<div class="form-item">
						<label>{{ translation.repeat_pass }}</label>
						<input type="password" style="width:90%;" ng-model="rpassword" placeholder="{{ translation.repeat_password }}">
					</div>

					<br>
					<button class="button primary" ng-click="updateUserPassword()">
						{{ translation.update }}
					</button>
				</fieldset>

				<fieldset style="width:50%;">
					<legend>{{ translation.ignored_users }}</legend>
					<table class="striped" style="width:80%">
					    <tbody>
					        <tr ng-repeat="u in userignore">
					            <td style="width:50%;">
					            	<img class="avatar small" ng-src="{{ u.picture }}">
					            </td>
					            <td>
					            	<b>
					            		<a href="#!" ng-click="closeModal();loadUser(u.slug)">{{ u.username }}</a>
					            	</b>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</fieldset>


			</div>
		</center>



	</div>

	<script type="text/javascript">
		var myApp = angular.module('GoBBit',[]);
	</script>

	<!-- Angular Controllers -->
	<script type="text/javascript" src="/js/ajaxify.js"></script>
	<script type="text/javascript" src="/js/embed-combo.js"></script>
	<script type="text/javascript" src="/js/appcontroller.js"></script>
	<script type="text/javascript" src="/js/logincontroller.js"></script>
	<script type="text/javascript" src="/js/registercontroller.js"></script>
	<script type="text/javascript" src="/js/topiccontroller.js"></script>
	<script type="text/javascript" src="/js/topic-composercontroller.js"></script>
	<script type="text/javascript" src="/js/community-creatorcontroller.js"></script>
	<script type="text/javascript" src="/js/community-editorcontroller.js"></script>
	<script type="text/javascript" src="/js/user-profilecontroller.js"></script>
	<script type="text/javascript" src="/js/user-editcontroller.js"></script>

</body>