<head>

	<title>GoBBit - Reddit's like Forum software written in Golang</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- CSS -->
	<link rel="stylesheet" href="/css/vendor/kube.min.css">
	<link rel="stylesheet" href="/css/gobbit.css">

	<!-- JS Libs -->
	<script src="/js/vendor/jquery.js"></script>
	<script src="/js/vendor/kube.min.js"></script>
	<script src="/js/vendor/moment.js"></script>
	<script src="/js/vendor/angular.min.js"></script>

</head>

<body ng-app="GoBBit">

	<div ng-controller="App" ng-init="user={};topics=[];">

		<div id="navbar" class="sticky">
			<nav id="navbar-main">
				<ul style="display: block;list-style-type: none;">
					<li><a href="#">{{ translation.home }}</a></li>
					<li><a href="#">{{ translation.recent }}</a></li>

					<!-- Log out and user info -->
					<li ng-if="user.username"><a href="#">{{ user.username }}</a></li>
					<li ng-if="user.username"><a href="/logout">{{ translation.logout }}</a></li>
				</ul>
			</nav>
		</div>

		<center>
			<div style="width:80%;">
				<h3>Welcome to GoBBit</h3>
				<i>Reddit's like Forum software written in Golang</i>

				<!-- Login / registration form -->
				<div class="row around" ng-if="!user.username" style="padding:10px">
					<div ng-controller="login" class="col col-6">
						<div class="form-item">
							<label>Username</label>
							<input type="text" name="username" ng-model="username" class="width-50">
						</div>
						<div class="form-item">
							<label>Password</label>
							<input type="password" name="password" ng-model="password" class="width-50">
						</div>

						<br>
						<button ng-click="login()" class="button primary width-35">{{ translation.login }}</button>
					</div>

					<div ng-controller="register" class="col col-6">
						<div class="form-item">
							<label>Username</label>
							<input type="text" name="username" ng-model="username" class="width-50">
						</div>
						<div class="form-item">
							<label>Email</label>
							<input type="email" name="email" ng-model="email" class="width-50">
						</div>
						<div class="form-item">
							<label>Password</label>
							<input type="password" name="password" ng-model="password" class="width-50">
						</div>
						<div class="form-item">
							<label>Repeat Password</label>
							<input type="password" name="rpassword" ng-model="rpassword" class="width-50">
						</div>

						<br>
						<button ng-click="register()" class="button primary width-35">{{ translation.register }}</button>
					</div>
				</div>

			</div>
		</center>

		<center>
			<table class="striped" style="width:80%">
			    <tbody>
			        <tr ng-repeat="t in topics">
			            <td>{{ t.title }}</td>
			            <td>{{ t.user.username }}</td>
			        </tr>
			    </tbody>
			</table>
		</center>

	</div>

	<script type="text/javascript">
		var myApp = angular.module('GoBBit',[]);
	</script>

	<!-- Angular Controllers -->
	<script type="text/javascript" src="/js/appcontroller.js"></script>
	<script type="text/javascript" src="/js/logincontroller.js"></script>
	<script type="text/javascript" src="/js/registercontroller.js"></script>

</body>